<% investment.groups.each do |group|  %>
  <% i_total      = investment.investment_total %>
  <% i_collect    = investment.ticket_amount * group.members.size%>
  <% ticket       = investment.ticket_amount %>
  <% users_group  = current_user.users_groups.find_by(group: group) %>

  <div class="d-flex align-items-center ">
    <div class="price pr-3 w-100 ">
      <div class="d-flex" >
        <div class="align-self-center">
          <p><%= image_tag group.image_url, class: "avatar-bordered", alt: "avatar-bordered" %></p>
        </div>
        <div class="align-self-center ml-3">
          <p class=""> <%= group.name %> </p>
        </div>
      </div>
    </div>

    <div class="w-100 text-center " >
      <div>
        <div class="d-flex">
          <h5 class="pr-3" style="color:#86B04A"><strong><%= number_to_currency(group.members.size * investment.ticket_amount, precision: 0, :unit => " €  ") %></strong></h5>
          <p><small class="">collectés</small></p>
        </div>
        <div class="progress-bar bg-info" role="progressbar" style="width: <%= investment.completion_percentage_for(group) %>%" aria-valuenow="<%=investment.completion_percentage_for(group)%>" aria-valuemin="0" aria-valuemax="100"><%=investment.completion_percentage_for(group).round%>%
        </div>
      </div>
    </div>

    <div class="ticket pr-3 pl-3 text-center">
      <p><strong> <h5 style="color:#86B04A"><%= (((i_total) - (i_collect)) / (ticket)) %></strong></h5><small>parts restantes</small> </p>
    </div>

    <% if group.admin == current_user %>
      Vous êtes admin
    <% elsif users_group.nil? %>
      <p class="request-button pl-3">
        <%= link_to "Rejoindre", join_request_group_users_groups_path(group), method: :post, class: 'btn-invest-first btn-invest-test ', remote: true %>
      </p>
    <% elsif users_group.status == "waiting" %>
      Vous avez déjà été invité sur ce groupe
    <% elsif users_group.status == "pending" %>
      Votre demande est en cours
    <% elsif users_group.status == "validate" %>
      Vous êtes déjà membre
    <% end %>
  </div>
  <hr>
<% end %>
