<h1 class='title-page'>Résultat de la recherche</h1>
<div class="results-container">

   <div id=filter>
    <%= simple_form_for @group, url: investments_path, method: :get, remote: true do |f| %>
      <br>
      <% regions = ["Bordeaux", "Bourgogne", "Alsace", "Beaujolais", "Alsace", "Champagne", "Corse", "Jura", "Languedoc-Roussillon", "Provence", "Savoie", "Sud-Ouest", "Vallée de la Loire", "Vallée du Rhône"] %>
      <%= f.input :region, as: :select, label: 'Région viticole :', collection: regions %>
      <%= f.input :ticket_amount, label: "Montant du ticket d'entrée :" %>
      <%= f.input :investment_total, label: "Montant de l'investissement total :" %>
      <%= f.input :share_available, label: "Nombre de parts disponibles :" %>
      <%= f.input :services, as: :select, label: 'Services proposés par le vigneron :', collection: ["Découverte des vendanges", "Etiquette de bouteille personnalisée"] %>
      <%= f.input :winemaker_profile, as: :select, label: 'Profil du vigneron :', collection: ["Jeune vigneron", "Vigneron installé"] %>
      <%= f.input :deferred_remuneration, as: :boolean, label: "Accepte les rétributions différées" %>
      <hr>
      <%= f.button :submit, "Valider", class: 'btn btn-primary' %>
    <% end %>
   </div>

  <div class="cards-result">
    <%= render 'cards_results', investments: @investments %>
  </div>
</div>

