<h1 class='title-page'>Résultat de la recherche</h1>
<div class="results-container">

   <div id=filter>
    <%= simple_form_for @group, url: investments_path, method: :get do |f| %>
      <br>
      <% regions = ["Bordeaux", "Bourgogne", "Vallée du Rhône", "Alsace", "Beaujolais", "Alsace", "Champagne", "Corse", "Jura", "Languedoc-Roussillon", "Provence", "Savoie", "Sud-Ouest", "Vallée de la Loire", "Vallée du Rhônes"] %>
      <%= f.input :region, as: :select, label: 'Région viticole :', collection: regions %>
      <%= f.input :ticket_amount, label: "Montant du ticket d'entrée :" %>
      <%= f.input :investment_total, label: "Montant de l'investissement total :" %>
      <%= f.input :share_available, label: "Nombre de parts disponibles :" %>
      <%= f.input :services, as: :select, label: 'Services proposés par le vigneron :', collection: ["Découverte des vendanges", "Etiquette de bouteille personnalisée"] %>
      <%= f.input :winemaker_profile, as: :select, label: 'Profil du vigneron :', collection: ["Jeune vigneron", "Vigneron installé"] %>
      <%= f.input :deferred_remuneration, as: :boolean, label: "Accepte les rétributions différées" %>
      <hr>
      <%= f.button :submit, "Valider", class: 'btn btn-primary' %>
    <% end %>
   </div>

  <div class="cards-result">
    <div style="list-style-type: none">
      <% @investments.each do |investment| %>
        <div class="card-result">
          <div>
            <%= cl_image_tag investment.photo.key, height: 200, width: 300, crop: :fill if investment.photo.attached? %>
          </div>
          <div class="card-result-text">
            <div class="card-result-infos">
              <h2><%= investment.domaine_name %> (<%= investment.match %> %)</h2>
              <p><%= investment.region %> - <%= investment.designation %></p>
              <hr>
              <h2>Chouchouté par <%= investment.user.first_name %> <%= investment.user.last_name %></h2>
            </div>
            <div class="card-result-pricing">
              <h2><%= investment.ticket_amount %> €</h2>
              <h2><%= investment.share_available %> parts disponibles</h2>
              <div class="btn btn-info">
                <%= link_to "Plus d'info", investment_path(investment) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
