<h1 class='title-page'>Résultat de la recherche</h1>
<div class="results-container">


   <div id=filter>
     <h4><strong>Affine ta recherche :</strong></h2>
      <%= form_for :search, url: investments_path, method: :get do |f| %>
        <%= text_field_tag :query, @search_term, placeholder: "Search..." %>

        <hr>
        <h6>Selectionne une région</h6>
        <select name="region" id="region">
          <option value="Bordeaux">Bordeaux</option>
          <option value="Bourgogne">Bourgogne</option>
          <option value="Vallée du Rhône">Vallée du Rhône</option>
          <option value="Alsace">Alsace</option>
          <option value="Beaujolais">Beaujolais</option>
          <option value="Alsace">Alsace</option>
          <option value="Champagne">Champagne</option>
          <option value="Corse">Corse</option>
          <option value="Jura">Jura</option>
          <option value="Languedoc-Roussillon">Languedoc-Roussillon</option>
          <option value="Provence">Provence</option>
          <option value="Savoie">Savoie</option>
          <option value="Sud-Ouest">Sud-Ouest</option>
          <option value="Vallée de la Loire">Vallée de la Loire</option>
          <option value="Vallée du Rhônes">Vallée du Rhône</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne la valeur d'un ticket</h6>
        <select name="ticket_amount" id="ticket_amount">
          <option value="500">500</option>
          <option value="3000">3000</option>
          <option value="10000">10 000</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne une Appellation</h6>
        <select name="designation" id="designation">
          <option value="Margaux">Margaux</option>
          <option value="Saint-Véran">Saint-Véran</option>
          <option value="Hérmitage">Hermitage</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne une valeur de parts globales</h6>
        <select name="total_share" id="total_share">
          <option value="10">10</option>
          <option value="30">30</option>
        </select>
        <%= f.submit %>

         <hr>
        <h6>Sélectionne les parts restantes</h6>
        <select name="share_available" id="share_available">
          <option value="10">10</option>
          <option value="3">3</option>
          <option value="2">2</option>
        </select>
        <%= f.submit %>

         <hr>
        <h6>Sélectionne la rentabilité</h6>
        <select name="profitability" id="profitability">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="5">5</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne les services proposées</h6>
        <select name="title" id="title">
          <option value="vendanges et dégustations">vendanges et dégustations</option>
          <option value="30 bouteilles/an avec étiquetage">30 bouteilles/an avec étiquetage</option>
          <option value="50 bouteilles/an sans étiquetage">50 bouteilles/an avec étiquetage</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne le type de vigneron</h6>
        <select name="winemaker_profile" id="winemaker_profile">
          <option value="Vigneron Installé">Vigneron Installé</option>
          <option value="Jeune Vigneron">Jeune Vigneron</option>
        </select>
        <%= f.submit %>

        <hr>
        <h6>Sélectionne le type de redistribution</h6>
        <select name="deferred_remuneration" id="deferred_remuneration">
          <option value="true">oui</option>
          <option value="false">non</option>
        </select>
        <%= f.submit %>

      <% end %>

   </div>


  <div class="cards-result">
    <div style="list-style-type: none">
      <% @investments.each do |investment| %>
        <div class="card-result">
          <div>
          <%= cl_image_tag investment.photo.key, height: 200, width: 300, crop: :fill if investment.photo.attached? %>
          </div>
          <div class="card-result-text">
            <div class="card-result-infos">
              <h2><%= investment.domaine_name %></h2>
              <p><%= investment.region %> - <%= investment.designation %></p>
              <hr>
              <h2>Chouchouté par <%= investment.user.first_name %> <%= investment.user.last_name %></h2>
            </div>
            <div class="card-result-pricing">
              <h2><%= investment.ticket_amount %> €</h2>
              <h2><%= investment.share_available %> parts disponibles</h2>
              <div class="btn btn-info">
                <%= link_to "Plus d'info", investment_path(investment) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
