<div class="container-investment">

  <div class="card-category-investment" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1565996596244-feb9a44f023a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80)">
    Resultat de la recherche
  </div>
             <div id=filter>
            <%= simple_form_for @group, url: investments_path, method: :get, remote: true, html: {class: 'form-inline'} do |f| %>
              <br>
              <% regions = ["Bordeaux", "Bourgogne", "Alsace", "Beaujolais", "Alsace", "Champagne", "Corse", "Jura", "Languedoc-Roussillon", "Provence", "Savoie", "Sud-Ouest", "Vallée de la Loire", "Vallée du Rhône"] %>
              <%= f.input :region, as: :select, label: 'Région viticole', collection: regions %>
              <%= f.input :ticket_amount, label: "Montant du ticket d'entrée" %>
              <%= f.input :winemaker_profile, as: :select, label: 'Profil du vigneron', collection: ["Jeune vigneron", "Vigneron installé"] %>
              <hr>
              <%= f.button :submit, "Valider", class: 'btn btn-secondary' %>
            <% end %>
           </div>

          <div class="results-container">
                <%= render 'cards_results', investments: @investments %>
          </div>

</div>


