
      <!--  CONTENT -->
  <br>
  <br>

      <div class="col-md-12 text-center">
        <h1><%= @investment.investment_name %></h1>
        <p><%= @investment.punchline %></p>
        <span class="BPDUh"></span>
        <br>
      </div>

<div class="container">
    <div class="row investment-title">

      <div class="col-8">
        <%= cl_image_tag @investment.photo.key, crop: :fill, class: "image-invests" if @investment.photo.attached? %>
      </div>

      <div class="col-4">
        <div class="d-flex">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <div class="align-self-center ml-3"><h4><strong><%= @investment.user.first_name %> <%= @investment.user.last_name %></strong></h4></div>
        </div>

        <div class="d-flex" >
          <div class="align-self-center ml-3">
            <%= image_tag("wine.png", class: "image-wine") %>
          </div>
          <div class="align-self-center ml-4">
            <h4 class="pt-3">Appelation</h4>
            <p> xxx </p>
          </div>
        </div>


        <hr>
        <p>Groupes intérressés</p>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
        <hr>
        <button type="button" class="btn-investment w-100">Participer à ce groupement</button>


      </div>
    </div>

</div>

<div class="exp-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="left-element">

          <div class="exp-desc">
            <h2><%= @investment.domaine_name %></h2>
            <div id="prod"class="key">
              <ul>
                <p> du text de description</p>
              </ul>
            </div>
          </div>

          <div class="exp-desc">
            <h2>Mon projet</h2>
            <div id="prod"class="key">
              <ul>
                <li>icone 1</li>
                <li>Lancement</li>
                <li>icone 2</li>
                <li>2% de rentabilité</li>
                <li>icone 2</li>
                <li>2% de rentabilité</li>
              </ul>
            </div>
          </div>


        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-element">
          <div class="day-left">

          </div>
          <h4>Evenements proposés</h4>
        </div>

        <% @investment.offered_services.each do |offer| %>
          <div class="card card-product">
            <div class="card-description product">
              <div class="icon">
              </div>
              <span><strong> <%= offer.title %></strong> </span>
              <hr class="product">
              <p class="ticket-number"><%= offer.description %></p>
                <br><br>
            </div>
          </div>
          <br>
        <% end %>

      </div>
    </div>
  </div>
