
      <!--  CONTENT -->
  <br>
  <br>

      <div class="col-md-12 text-center">
        <h1>Titre de l'investissement</h1>
        <p>Pour découvrir les océans autrement et flotter sans aller dans l’espace, tout ça en restant sur notre planète !</p>
        <span class="BPDUh"></span>
        <br>
      </div>

<div class="container">
    <div class="row investment-title">

      <div class="col-8">
        <%= image_tag("Image_test.jpg", class: "image-invests") %>
      </div>

      <div class="col-4">
        <div class="d-flex">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <div class="align-self-center ml-3"><h4><strong>Name</strong></h4></div>
        </div>
        <h4 class="mt-5">Titre de l'investissement</h4>
        <p>Puncline</p>
        <hr>
        <p>Personnes déja interessées</p>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
        <hr>
        <button type="button" class="btn-investment w-100">Participer à ce groupement</button>


      </div>
    </div>

</div>

<div class="exp-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="left-element">

          <div class="exp-desc">
            <h2>nom du domaine</h2>
            <div id="prod"class="key">
              <ul>
                <p> du text de description</p>
              </ul>
            </div>
          </div>

          <div class="exp-desc">
            <h2>Mon projet</h2>
            <div id="prod"class="key">
              <ul>
                <li>icone 1</li>
                <li>Lancement</li>
                <li>icone 2</li>
                <li>2% de rentabilité</li>
                <li>icone 2</li>
                <li>2% de rentabilité</li>
              </ul>
            </div>
          </div>


        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-element">
          <div class="day-left">

          </div>
          <h4>Mes évenements proposés</h4>
        </div>
          <div class="card card-product">
            <div class="card-description product">
              <div class="icon">
              </div>
              <span>Etiquette<br>à votre nom</span>
              <hr class="product">
              <p class="ticket-number">dedzd</p>
                <br><br>

            </div>
          </div>

      </div>
    </div>
  </div>
