<div class="container justify-content-center">


  <br><br><br>

  <br>

  <div class="row justify-content-center">

    <div class="col-xs-12 col-sm- col-sm-offset-3">
      <div>
        <%= simple_form_for @group, html: { id: "new_group_form"} do |f| %>
        <% categories = ["Découverte des vendanges", "Etiquette de bouteille personnalisée", "Invitation à la dégustation annuelle", "Visite du domaine", "Initiation au processus de vinification"]%>
        <% vigneron_profil = ["Jeune vigneron", "Vigneron installé"] %>

        <div class="row">
          <div class="col">
            <h2><strong>Créez votre groupe</strong></h2>
             <br>
            <br>
            <p style="color:#a23e48"><strong>Nom du groupe</strong></p>
            <%= f.input :name, placeholder:'', label: false%>
          </div>

        </div>
          <br>
          <div class="row">
            <div class="col">
              <p style="color:#a23e48"><strong>Région viticole</strong></p>
              <%= f.input :region, input_html: { class: 'select2'}, collection: ["Alsace", "Beaujolais", "Bordeaux", "Bourgogne", "Champagne", "Corse", "Jura", "Languedoc-Roussillon", "Provence", "Savoie", "Sud-Ouest", "Vallée de la Loire", "Vallée du Rhône"], label: false %>
            </div>
            <div class="col">
              <p style="color:#a23e48"><strong>Appellation</strong></p>
              <%= f.input :designation, placeholder: 'Saint-Joseph, Condrieu..', label: false %>
            </div>
          </div>
            <hr>
            <div class="row">
              <div class="col">
                <p style="color:#a23e48"><strong>Ticket d'entrée</strong></p>
                <%= f.input :ticket_amount, placeholder: "Montant", label:false %>
              </div>
              <div class="col">
                <p style="color:#a23e48"><strong>Investissement total</strong></p>
                <%= f.input :investment_total, placeholder: "Montant", label:false %>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col">
                <p style="color:#a23e48"><strong>Services proposés par le vigneron</strong></p>
                <div class="form-group">
                 <!--  <label class="control-label check_boxes optional"></label>
                  <input type="hidden" name="group[services][]" value=""> -->
                  <div class="category-choices">
                    <% categories.each do |category| %>
                    <input type="checkbox" value="<%= category %>" name="group[services][]" id="group_services_<%= category %>">
                    <label for="group_services_<%= category %>" class="category-choice">
                      <%= category %>
                    </label>
                    <br>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                 <p style="color:#a23e48"><strong>Profil du vigneron</strong></p>
                <div class="form-group">
                 <!--  <label class="control-label check_boxes optional"></label>
                  <input type="hidden" name="group[services][]" value=""> -->
                  <div class="category-choices">
                    <% vigneron_profil.each do |vigneron| %>
                    <input type="radio" value="<%= vigneron %>" name="group[winemaker_profile]" id="group_winemaker_profile_<%= vigneron %>">
                    <label for="group_winemaker_profile_<%= vigneron %>" class="category-choice">
                      <%= vigneron %>
                    </label>
                    <br>
                    <% end %>
                  </div>
                </div>

                <!-- <p style="color:#a23e48"><strong>Profil</strong></p> -->
                <%#= f.input :winemaker_profile, label: 'Profil du vigneron', as: :check_boxes, collection: ["Jeune vigneron", "Vigneron installé"], label:false %>
              </div>
            </div>
              <br>
            <div class="row">
              <div class="col">
                <%= f.button :submit, "Valider", class: 'btn btn-invest-test btn-invest-first w-100' %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
