<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/442116/pexels-photo-442116.jpeg?cs=srgb&dl=clouds-countryside-cropland-crops-442116.jpg&fm=jpg)">
  <%= @group.name %>
</div>

<div class="container">
  <h1 class='title'>Votre projet d'investissement</h1>
  <h1 class='title'>Votre liste de souhaits</h1>
  <div class="btn btn-info">
    <%= link_to "Lancer la recherche", root_path %>
  </div>
  <br>
  <br>
  <div class="btn btn-info">
    <%= link_to "Paramétrer le groupe", root_path %>
  </div>

  <div class="btn btn-info">
    <%= link_to "Partager le lien du groupe", root_path %>
  </div>

  <div class="btn btn-info">
    <%= link_to "Valider une demande d'intérêt", root_path %>
  </div>

  <div class="btn btn-info">
    <%= link_to "Demander l'avis à l'un de nos experts", root_path %>
  </div>

  <h1 class='title'>Investisseurs</h1>

</div>


<hr>
<%= link_to "Rejoindre", join_request_group_users_groups_path(@group), class: 'btn btn-primary', method: :post %>
